.header {
    width: 100%;
    min-height: 900px;
    background: url('../../img/main/bgc.jpg') no-repeat center center;
}

.header-contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header-contacts span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    line-height: 19px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.menu-tr {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.menu-td {
    padding: 13px 102.5px 13px 102.5px;
}

.menu-td:not(:last-child) {
    border-right: 1px solid #FFFFFF;
}

.menu-td a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.menu-td a:hover {
    text-shadow: 1px 1px 5px #fff;
    color:bisque;
}

.btn-group {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn {
    width: 203px;
    height: 50px;
    background: #99862A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    border: none;
    margin-top: 577px;
    margin-right: 30px;
}

.btn:hover {
    text-shadow: 2px 2px 5px #fff;
    color: #000;
}